Repository onuriltan/note-manager-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

feature(api): improve typings (#100)
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/config/mail.ts
  packages/api/src/config/passport.ts
  packages/api/src/config/pino.ts
  packages/api/src/middlewares/jwt.ts
  packages/api/src/migrations/1-modify-posts-collection.ts
  packages/api/src/migrations/index.ts
  packages/api/src/modules/notes/controller/note.controller.test.ts
  packages/api/src/modules/notes/controller/note.controller.ts
  packages/api/src/modules/notes/repository/note.repository.ts
  packages/api/src/modules/notes/repository/notes.repository.test.ts
  packages/api/src/modules/notes/service/note.service.test.ts
  packages/api/src/modules/notes/service/note.service.ts
  packages/api/src/modules/notes/validator.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.test.ts
  packages/api/src/modules/user/controller/user/user.controller.ts
  packages/api/src/modules/user/entity/user.entity.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/repository/user.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/src/modules/user/validator.ts
  packages/api/src/types/dotenv/index.d.ts
  packages/api/src/types/express/index.d.ts
  packages/api/tsconfig.json
  packages/api/yarn.lock
Due: api

chore(web): update packages and lint files
  packages/web/package.json
  packages/web/src/main.js
  packages/web/src/modules/change-password/ChangePassword.vue
  packages/web/src/modules/dashboard/Dashboard.vue
  packages/web/src/modules/facebook-login/FacebookLogin.vue
  packages/web/src/modules/google-login/GoogleLogin.vue
  packages/web/src/modules/header/Header.vue
  packages/web/src/modules/history/History.vue
  packages/web/src/modules/login/Login.vue
  packages/web/src/modules/notes/Notes.vue
  packages/web/src/modules/profile/Profile.vue
  packages/web/src/modules/register/Register.vue
  packages/web/src/modules/resend-confirmation/ResendConfirmation.vue
  packages/web/src/modules/session-expired/SessionExpired.vue
  packages/web/src/store/modules/auth.store.js
  packages/web/src/views/ConfirmationView.vue
  packages/web/vue.config.js
  packages/web/yarn.lock
Due: web

chore(web): update packages and lint files (#101)
  packages/web/package.json
  packages/web/src/main.js
  packages/web/src/modules/change-password/ChangePassword.vue
  packages/web/src/modules/dashboard/Dashboard.vue
  packages/web/src/modules/facebook-login/FacebookLogin.vue
  packages/web/src/modules/google-login/GoogleLogin.vue
  packages/web/src/modules/header/Header.vue
  packages/web/src/modules/history/History.vue
  packages/web/src/modules/login/Login.vue
  packages/web/src/modules/notes/Notes.vue
  packages/web/src/modules/profile/Profile.vue
  packages/web/src/modules/register/Register.vue
  packages/web/src/modules/resend-confirmation/ResendConfirmation.vue
  packages/web/src/modules/session-expired/SessionExpired.vue
  packages/web/src/store/modules/auth.store.js
  packages/web/src/views/ConfirmationView.vue
  packages/web/vue.config.js
  packages/web/yarn.lock
Due: web

fix(api): ignore ts check on node_modules
  packages/api/tsconfig.json
Due: api

fix(api): ignore ts for nodemodules build and coverage folders
  packages/api/tsconfig.json
Due: api

fix(api): ignore ts for nodemodules build and coverage folders (#103)
  packages/api/tsconfig.json
Due: api

fix(api): stop execution if express response object triggers
  package.json
  packages/api/src/modules/notes/controller/note.controller.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
Due: api

fix(api): stop execution if express response object triggers (#104)
  package.json
  packages/api/src/modules/notes/controller/note.controller.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
Due: api

fix: delete user if confirmation email sending is failed
  README.md
  packages/api/.env.example
  packages/api/src/config/mail.ts
  packages/api/src/middlewares/jwt.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.test.ts
  packages/api/src/modules/user/entity/user.entity.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/repository/user.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/src/types/dotenv/index.d.ts
  packages/api/src/types/express/index.d.ts
Due: api

fix: add id to returned mongo userdoc
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
Due: api

fix: ru ntest:ci instead of unit
  package.json
Due: none

fix(api): delete user if confirmation email sending is failed (#105)
  README.md
  package.json
  packages/api/.env.example
  packages/api/src/config/mail.ts
  packages/api/src/middlewares/jwt.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.test.ts
  packages/api/src/modules/user/entity/user.entity.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/repository/user.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/src/types/dotenv/index.d.ts
  packages/api/src/types/express/index.d.ts
Due: api

feat: make cards look more aligned with grid layout
  packages/web/src/modules/dashboard/Dashboard.scss
  packages/web/src/modules/notes/Notes.scss
Due: web

feat(web): make cards look more aligned with grid layout (#106)
  packages/web/src/modules/dashboard/Dashboard.scss
  packages/web/src/modules/notes/Notes.scss
Due: web

fix: social login
  packages/api/.env.example
  packages/api/src/config/mail.ts
  packages/api/src/config/passport.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/index.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/src/types/express/custom.ts
  packages/web/src/modules/facebook-login/FacebookLogin.vue
  packages/web/src/modules/google-login/GoogleLogin.vue
  packages/web/src/services/social.service.js
Due: api, web

fix: delete unused codes for the fix
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/index.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/types/express/custom.ts
Due: api

feature: refactor authservice (#107)
  packages/api/.env.example
  packages/api/src/config/mail.ts
  packages/api/src/config/passport.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/index.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/web/src/modules/facebook-login/FacebookLogin.vue
  packages/web/src/modules/google-login/GoogleLogin.vue
  packages/web/src/services/social.service.js
Due: api, web

fix: nodemailer decrease package version to work
  packages/api/.env.example
  packages/api/package.json
  packages/api/src/config/mail.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/yarn.lock
Due: api

fix: nodemailer decrease package version to work
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
Due: api

feature: refactor auth (#108)
  packages/api/.env.example
  packages/api/package.json
  packages/api/src/config/mail.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/yarn.lock
Due: api

refactor(api): logic moved from authrepository to authservice
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/yarn.lock
Due: api

chore: dependency updat and engine
  package.json
  packages/api/package.json
  packages/api/yarn.lock
  packages/web/package.json
  packages/web/yarn.lock
Due: api, web

chore: dependency updat and engine
  packages/web/package.json
Due: web

chore: dist folder
  packages/web/vue.config.js
Due: web

chore: add vercel deploy config
  packages/api/vercel.json
Due: api

fix: typescript errors
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/config/mail.ts
  packages/api/src/config/passport.ts
  packages/api/src/migrations/index.ts
  packages/api/src/modules/notes/repository/note.repository.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/tsconfig.json
  packages/api/yarn.lock
Due: api

chore: pino upgrade
  packages/api/index.d.ts
  packages/api/package.json
  packages/api/tsconfig.json
  packages/api/yarn.lock
Due: api

fix: pino pretty
  packages/api/package.json
  packages/api/src/config/pino.ts
  packages/api/src/index.ts
Due: api

chore: prod env url update
  packages/web/.env.production
Due: web

feat: add base route
  packages/api/src/index.ts
Due: api

fix: build command
  packages/api/package.json
  packages/api/src/index.ts
Due: api

chore: vercel config
  packages/api/package.json
  packages/api/vercel.json
Due: api

fix: package.json
  packages/api/package.json
Due: api

chore: vercel
  packages/api/vercel.json
Due: api

fix: another one
  packages/api/vercel.json
Due: api

fix: another one
  packages/api/tsconfig.json
  packages/api/vercel.json
Due: api

Path conditions:
  api: any of: packages/api
  web: any of: packages/web
